/* Add size to game area, add display to allow items to display on top of each other,
   code technique from https://www.geeksforgeeks.org/how-to-set-space-between-the-flexbox/ 
*/

.game-box {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* header styling */

.head-box {
    text-align: center;
}

h1 {
    color: black;
}

.head-box img {
    height: 3rem;
    width: 3rem;
}

footer {
    height: 75px;
    background-color: white;
}

 footer li {
    display: inline;
}

footer i {
    font-size: 200%;
    margin: 2%;
    padding: 2%;
    color: #1b1c1c;
}

 .foot-social {
    width: 50%;
    float: left;
}

.foot-contact {
    width: 50%;
    float: right;
    clear: left;
}
