* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Add style for background image */
body {
    background: url("../images/background_image.jpeg") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 5rem;
    color: #005EB8;
    justify-content: center;
    margin-bottom: 3rem;
    text-decoration: none;
    background-color: #FBF7F5;
}

h2 {
    font-size: 4rem;
    color: #005EB8;
    margin-bottom: 2rem;
    justify-content: center;
    text-decoration: none;
}

h3 {
    font-size: 2rem;
    color: #005EB8;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    color: #005EB8;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

/* Make game full with of of screen and center items */
.game-container {
    width: 100vh;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    padding: 1rem;
    margin: 0 auto;
}

/* Make children 100% wide so content is centered horizontally */
.game-container>* {
    width: 100%;
}

/* Made flex so items can be stacked vertically */
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Made flex so items can be stacked vertically and centering */
.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Style the buttons */
.home-button {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
    width: 15rem;
    text-align: center;
    border: 0.2rem solid #005EB8;
    border-radius: 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #005EB8;
    background-color: #FBF7F5;
}

.home-button:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2rem #005EB8;
    transform: translate(0.25rem);
    transition: transform 0.5s;
}

/* Style the game page */
#game-page {
    background-color: #FBF7F5;
    border-radius: 5rem;
}

#game-page>* {
    color: #005EB8;
}

/* Style the answer options box */
.answer-options {
    display: flex;
    margin-bottom: 1rem;
    width: 50%;
    font-size: 1rem;
    border: 0.2rem solid #005EB8;
    border-radius: 0.5rem;
}

/* Use same hover style as the buttons for consistency */
.answer-options:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2rem #005EB8;
    transform: translate(0.25rem);
    transition: transform 0.5s;
}

.answer-option {
    padding: 1rem 2rem;
    color: #005EB8;
}

.answer-selection {
    padding: 1rem 1.5rem;
    background-color: #FBF7F5;
    color: #005EB8;
    width: 100%;
}

p {
    color: #005EB8;
}

/* Footer Styling, maybe take the footer out? */
footer {
    height: 3rem;
}

footer ul {
    display: inline;
    display: flex;
    align-items: center;
}

footer li {
    margin: 20%;
}

footer i {
    font-size: 200%;
    color: #1b1c1c;
    padding-top: 2rem;
}

footer A {
    color: #1b1c1c;
}

.foot-social {
    display: flex;
    flex-direction: row;
    float: left;
    margin-left: 2rem;
}

.foot-contact {
    float: right;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 2rem;
    padding-top: 2rem;
}

.foot-social li {
    list-style: none;
}

/* Colour the answer boxes once an answer has been given */
.correct {
    background-color: green;
}

.correct>p {
    background-color: green;
}

.incorrect {
    background-color: red;
}

.incorrect>p {
    background-color: red;
}

/* Add styling to the game information divs */
/* #game-info has a bug in it and i cant get the items to separate */
#game-info {
    display: flex;
}

.info-text {
    text-align: center;
    font-size: 1.5rem;
}

.info-internal {
    text-align: center;
}

/* Style the progress bar divs */

#progressNumber {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

#progress {
    width: 20rem;
    height: 2rem;
    border: 0.25rem solid #005EB8;
    margin-bottom: 1rem;
    margin-right: 5rem;
}

#progressBar {
    height: 100%;
    background-color: #005EB8;
    width: 0%;
}

/* Style the results page */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#finalScore {
    color: #FBF7F5;
}

input {
    margin-bottom: 2rem;
    width: 15rem;
    padding: 1rem;
    font-size: 1rem;
    border: 0.2rem solid #005EB8;
    border-radius: 1rem;
}

::placeholder {
    color: #005EB8;
    opacity: 1;
}

#endPage h2 {
    color: #FBF7F5;
    font-size: 3rem;
}

#leaderboardStyle {
    background-color: #FBF7F5;
    border: 0.2rem solid #005EB8;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

#finalLeaderboard {
    list-style: none;
    margin-bottom: 2rem;
    justify-content: center;
}

.scoresTable {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #005EB8;
    background-color: #FBF7F5;
    border: 0.2rem solid #005EB8;
    border-radius: 0.5rem;
}

/* Style the Contact Us page */
.contact-container {
    width: 100vh;
    height: 700px;
    display: block;
    margin: 0 auto;
    clear: both;
}

#contact-head {
    margin-bottom: 5rem;
    margin: 0 auto;
}

#contact-head h2 {
    display: flex;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: black;
}

/* Contact us form css styling */
#form input,
select,
textarea {
    margin-bottom: 0.625rem;
    width: 50%;
    padding: 1rem;
    font-size: 1rem;
    border: 0.0625rem solid #005EB8;
    border-radius: 0.625rem;
}

#fname,
#lname,
#email {
    height: 1rem;
    margin-bottom: 0.5rem;
}

label {
    margin-top: 0.125rem;
    font-weight: bold;
}

#form #submit {
    width: 50%;
    border: 0.0625rem solid #005EB8;
    background-color: #FBF7F5;
    border-radius: 0.3125rem;
    cursor: pointer;
}

#return-button {
    width: 50%;
    height: 1.5rem;
    text-align: center;
    border: 0.0625rem solid #005EB8;
    background-color: #FBF7F5;
    border-radius: 0.3125rem;
    margin-top: 0.0625rem;
    cursor: pointer;
}

/* 404 Page Styling */
#error-container {
    display: block;
    margin: 0 auto;
    clear: both;
}

#error-image {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    clear: both;
}


/* Contact Us feedback styling */
#feedback {
    background-color: #FBF7F5;
    margin: 0;
}

.flag-image {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

/* Media Queuries for tablet screen size 1024px and down */

@media screen and (max-width: 1024px) {
    .game-container {
        width: 95vh;
        max-width: 50rem;
    }
}

/* Media Queuries for tablet screen size 768px and down */

@media screen and (max-width: 768px) {
    .game-container {
        width: 60vh;
        max-width: 40rem;
    }

    .answer-options {
        width: 70%;
    }

    #progress {
        width: 15rem;
        margin-right: 3rem;
    }

    #error-container a {
        width: 10rem;
    }

    .contact-container {
        width: 70vh;
    }
}

/* For mobile devices size 480px and down */

@media screen and (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }

    .game-container {
        height: 600px;
        max-width: 100%;
    }

    footer li {
        margin: 10%;
    }

    footer i {
        font-size: 150%;
        color: #1b1c1c;
        padding-top: 2rem;
    }

    .foot-social {
        margin-left: 0.5rem;
    }

    .foot-contact {
        margin-left: 1rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .contact-container {
        width: 50vh;
    }

    #progress {
        width: 10rem;
        border: 0.25rem solid #005EB8;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .answer-options {
        width: 80%;
    }
}